.award-main-container{
    width: 100%;
    margin-top:10%;
   text-align: center;
    margin-top: 60px;
}

.award-info-container{
    margin: 0 15%;
}

.award-details-container{
    margin-bottom: 50px;
}
.award-main-container h1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(16, 49, 2);

}

.award-description-section p{
    font-size: 14px;
    font-weight: 300;
    color:rgb(67, 79, 88);
    width: 80%;
    margin:10px auto;

}

.award-info-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.award-details-container{
    width: 100%;
}
.award-image-image{
    width: 30%;
    height: 50px;
}

.award-btn-section {
    display: inline-flex;
    align-items: center; 
    justify-content: center;  
    margin-top: 10px;
    gap:5px;
    cursor: pointer;
}

.award-btn-section p {
    border: none;
    outline: none;
    font-size: 14px;
    background-color: transparent;
    display: inline-flex;  
    align-items: center;  

}

.award-btn-section span {
    font-size: 15px;
}


.award-details-container:hover .award-btn-section {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;  
}

@media screen and (min-width:360px) and (max-width:600px){
    .award-info-container{
        display: grid;
        grid-template-columns: 45% 45%;
        text-align: center;
        column-gap: 10%;
        
    }

    .award-description-section p{
        font-size: 12px;
    }
    .award-image-image{
        width: 50%;
        height: 50px;
    }
    .award-details-container{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
       
    }

}
