.eco-main-container{
    width: 100%;
    display: inline-block;
    text-align: center;
    justify-content: center;
     margin-bottom: 20px;
     margin-top: 20px;
}

.eco-left-conatiner{
    width:100%;
     
}

.eco-left-conatiner h1{
    font-size: 30px;
    font-weight: 400px;
    color: rgb(16, 49, 2);
    margin: auto 10px;

}

.eco-right-conatiner{
    display: flex;
    width:100%;
    margin: 50px 0px 0px 0px;
    justify-content: center;
    gap:20px;
}

.eco-card-container .eco-images{
  width: 70px;
  height: 70px;
}

.eco-card-container p{
    font-size: 12px;
    color:rgb(67, 79, 88) ;
    font-weight: 300;
    width: 200px;
}

@media screen and (min-width:360px) and (max-width:600px){
    .eco-main-container{
        width: 100%;
    margin: 0 0%;

    }
    .eco-left-conatiner h1{
        font-size: 25px;
        font-weight: 400px;
        color: rgb(16, 49, 2);;
        margin-top: 20px;
    
    }
    .eco-right-conatiner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.eco-card-container p{
    /* text-align: justify; */
}
}