.Navbar-main-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
   align-items: center;
  height: 60px;
  background-color: rgb(250, 234, 212);
}

.bird-image {
  width: 100px;
  height: 30px;
}

.navbar-ul-menu-container {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  gap:20px;
  color: #522e3a;
}

.navbar-ul-menu-container li {
  font-size: 15px;
  font-weight: 400;
  /* line-height: 20px; */
  text-transform: uppercase;
}

.navbar-profile-conatiner {
  display: flex;
  justify-content: space-between;
  width: 8%;
  color: #522e3a;
}
