.desktop-nav{
    display: block;
}

.mobile-nav{
    display: none;
}

.app-main-container{width: 100%;}


@media screen and (min-width:360px) and (max-width:600px){
    .desktop-nav{
        display: none;
    } 
    .mobile-nav{
        display: block;
    }
  }